* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

header {
    background-image: url(./assets/design1_image1.jpg);
    background-size: cover;
    min-height: 20%;
    padding-top: 1rem;
    width: 100%;
}

header img {
    width: 15rem;
    height: 15rem;
    transform: translateX(100rem) translateY(10rem);
    background-color: aliceblue;
    border: 2px solid #000;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: black;
    background-color: aliceblue;
    width: 70%;
    border-radius: 15px;
    margin-left: 2rem;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

h2 {
    color: white;
    background-color: #000;
    text-align: center;
    height: 8vh;
    font-size: 5vh;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.mainR {
    transform: translateX(-1rem) translateY(5rem);
    justify-content: end;
    padding: 1.5rem;
}

.main,
.mainR,
.maini {
    border: 3px dotted salmon;
    margin-top: 2px;
    margin-bottom: 2px;
}

.mainA {
    width: auto;
}

.maini {
    flex-direction: column;
    height: fit-content;
    transform: translateX(2rem) translateY(3rem);
}

p {
    font-size: x-large;
    padding-top: 1rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2vw;
}

.a {
    border: 2px solid cornsilk;
    background-color: salmon;
    width: 15vw;
    height: 9vh;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    padding-top: 25px;
    margin: 5px;
}

nav a:hover {
    background-color: aqua;
    color: orange;
    transform: scale(1.2);
}

article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.art {
    font-size: x-large;
}

.divi {
    display: flex;

}

.div1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transform: translate(10px, 61px);
    justify-content: space-between;
    width: 70vw;
    margin: 2vh;
    border: 3px dotted salmon;
    padding: 2px 7px 5px 2px;
    background-image: url(./assets/hockey-1.jpg);
    background-size: cover;
}

h3 {
    color: rgb(190, 110, 101);
    background-color: aqua;
    margin: 5px;
    text-align: center;
    width: fit-content;
}

.h2 {
    color: rgb(190, 110, 101);
    background-color: aqua;
}

.h2 p {
    background-color: white;
}

.p {
    display: flex;
    width: fit-content;
    justify-content: center;
    background-color: antiquewhite;
    margin: 1rem;
}

.navA {
    min-height: 10vh;
    min-height: 15vw;
}

.container2 {
    display: flex;
}

.divA {
    display: flex;
    flex-direction: column;
    margin: 10vh;
    border: 3px dotted salmon;
    width: 50vw;
    transform: translateX(0rem) translateY(-4rem);
}

.divA article {
    padding: 2vh;
}

.fidureA {
    display: flex
}

.figureA img {
    width: 19rem;
    height: 19rem;
    transform: translate(-2rem, 14rem);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.divC {
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 3px dotted salmon;
    transform: translate(11rem, 18rem);
}

.container3 {
    display: flex;
}

.divC p {
    font-size: xx-large;
}

.figureC img {
    width: 19rem;
    height: 19rem;
    transform: translate(67rem, -5rem);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.all {
    display: flex;
}

.divR {
    display: flex;
    padding: 2vh;
}

.divr,
.divp,
.divP,
li {
    margin: 10px;
}

dt,
h4 {
    font-weight: bold;
    color: rgb(190, 110, 101);
    background-color: aqua;
    margin: 5px;
    font-size: xx-large;
}

.dd {
    text-indent: 1rem;
    font-size: x-large;
}

ol,
dl {
    list-style-position: inside;
    font-size: x-large;
}

span {
    font-weight: bold;
}

.ulr {
    list-style-type: lower-alpha;
}

.ul {
    list-style-type: circle;
}

.h2 {
    font-style: italic;
}

.all1 {
    display: flex;
    flex-wrap: wrap;
}

table {
    font-size: x-large;
}

.pp {
    text-decoration: underline;
    font-style: italic;
}

.divtable {
    display: flex;
    flex-direction: column;
}

th {
    padding: 10px;
    align-items: center;
    color: rgb(190, 110, 101);
    background-color: aqua;
}

td {
    padding: 10px;
}

.divfoot1 p {
    padding: 10px;
    margin: 3px;
}

.container4 {
    display: flex;
}

.conteiner {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 50rem;
    transform: translate(3rem, 5rem);
}

.caja h5 {
    font-size: x-large;
}

.foot {
    display: flex;
    flex-direction: column;
    transform: translate(10rem, 1rem);
    margin: 1rem;
}

.footer {
    display: flex;
    flex-direction: column;
    transform: translate(4px, -12rem);
    margin: 1rem;
}

.divfoot3 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 3px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    transform: translate(-25px, 83px);
    background-color: antiquewhite;

}

fieldset {
    display: flex;
    flex-wrap: wrap;
    font-size: x-large;
    margin: 1rem;
    padding: 2rem;
}

label,
input {
    margin: 1rem;
    padding: 1rem;
}

.bd,
select {
    font-size: large;
}

.date {
    width: 15rem;
}

.h2f {
    padding-left: 10rem;
}

legend,
.uniform {
    font-size: xx-large;
}

button {
    height: 2rem;
    color: beige;
    background-color: salmon;
    margin: 2rem;
    margin-top: 1rem;
}

button:hover {
    background-color: aqua;
    color: orange;
}

/*responsive de information.html*/

@media (max-width:2284px) {
    header img{
        transform: translateX(110rem) translateY(10rem);
    }
    .conteiner{
        width: 50rem;
        transform: translate(11rem, 7rem);
    }
    table {
        font-size: x-large;
    }
    .maini{
        transform: translateX(6rem) translateY(3rem);
        }
    .foot{
        transform: translate(3rem, 2rem);
    }
}
@media (max-width:2025px) {
    .conteiner{
        transform: translate(10rem, 5rem);
        width: 40rem;
    }
    .maini{
    transform: translateX(0rem) translateY(3rem);
    }
    .table {
        font-size: x-large;
    }
    header img{
        transform: translateX(101rem) translateY(10rem);
    }
}

@media (max-width:1855px) {
    table {
        font-size: larger;
    }
    header img{
        transform: translateX(89rem) translateY(10rem);
    }
    .conteiner{
        transform: translate(6rem, 5rem);
    }
    .maini {
        transform: translateX(0rem) translateY(5rem);
    }
}

@media (max-width:1660px) {
    header img{
        transform: translateX(79rem) translateY(10rem);
    }
}

@media (max-width:1583px) {
    .conteiner {
        transform: translate(3rem, 5rem);
    }
}

@media (max-width:1583px) {
    .foot {
        transform: translate(0rem, 2rem);
    }
}

@media (max-width:1517px) {
    .conteiner {
        transform: translate(1rem, 5rem);
    }
}

@media (max-width:1465px) {
    table {
        font-size: medium;
    }
    header img {
        transform: translateX(71rem) translateY(10rem);
    }
}

@media (max-width:1374px) {
    .divi {
        text-align: center;
        display: block;
    }
    header img {
        transform: translateX(66rem) translateY(10rem);
    }
    .maini{
        width: 80%;
    }
    table {
        font-size: larger;
    }
    .conteiner {
        transform: translate(18rem, 1rem);
        width: 70%;
    }
}

@media (max-width:1374px){
    header img {
        transform: translateX(60rem) translateY(10rem);
    }
    .conteiner {
        transform: translate(14rem, 1rem);
        width: 60rem;
    }
}

@media (max-width:1194px) {
    header img {
        width: 12rem;
        height: 12rem;
        transform: translateX(57rem) translateY(10rem);
    }
    .conteiner {
        transform: translate(7rem, 1rem);
        width: 59rem;
    }
}

@media (max-width:997px) {
    header img {
        transform: translateX(46rem) translateY(10rem);
    }
    .maini {
        width: 78%;
    }
    .conteiner {
        width: 50rem;
    }
}

@media (max-width:920px) {
    header img {
        transform: translateX(42rem) translateY(10rem);
    }
    .a{
        font-size: larger;
    }
    table{
        height: 40rem;
    }
}

@media (max-width:769px) {
    header img {
        transform: translateX(35rem) translateY(10rem);
    }
    .conteiner{
        width: 40rem;
    }
}

@media (max-width:739px) {
    header img {
        transform: translateX(34rem) translateY(3rem);   
        width: 9rem;
        height: 9rem;
    }
    h2 {
        text-align: center;
        height: 4vh;
        font-size: xx-large;
    }
    nav {
        flex-direction: row;
        margin: 2vw;
    }
    .maini {
        transform: translateX(0rem) translateY(0rem);
    }
    .conteiner {
        transform: translate(3rem, 1rem);
    }
}