* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

header {
    background-image: url(./recursos/design1_image1.jpg);
    background-size: cover;
    min-height: 20%;
    padding-top: 1rem;
    width: 100%;
}

header img {
    width: 15rem;
    height: 15rem;
    transform: translateX(100rem) translateY(10rem);
    background-color: aliceblue;
    border: 2px solid #000;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: black;
    background-color:aliceblue;
    width: 70%;
    border-radius: 15px;
    margin-left: 2rem;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

h2 {
    color: white;
    background-color: #000;
    text-align: center;
    height: 8vh;
    font-size: 5vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: fit-content;
    transform: translateX(25rem) translateY(-35rem);
}

.mainR{
    transform: translateX(-1rem) translateY(5rem);
    height: fit-content;
    justify-content: end;
    padding: 1.5rem;
}

.main, .mainR, .maini{
    border: 3px dotted salmon;
    margin-top: 2px;
    margin-bottom: 2px;
}
.mainA{
    width: auto;
}
.maini{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}

p{
    font-size:x-large;
    padding-top: 1rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2vw;
}

.a {
    border: 2px solid cornsilk;
    background-color: salmon;
    width: 15vw;
    height: 9vh;
    text-align:center;
    font-size:x-large;
    padding-top: 8px;
    margin: 5px;
}

nav a:hover {
    background-color: aqua;
    color: orange;
    transform: scale(1.2);
}

article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.art{
    font-size: x-large;
}

.div1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 70vw;
    margin: 2vh;
    border: 3px dotted salmon;
    padding: 2px 7px 5px 2px;
    background-image: url(./recursos/hockey-1.jpg);
    background-size: cover;
}

h3{
    color: rgb(190, 110, 101);
    background-color: aqua;
    margin: 5px;
    text-align: center;
    width:fit-content;
}

.h2{
    color: rgb(190, 110, 101);
    background-color: aqua;
}

.h2 p {
    background-color:white;
}

.p{
    display: flex;
    width:fit-content;
    justify-content: center;
    background-color:antiquewhite;
    margin: 1rem;
}

.navA {
    min-height: 10vh;
    min-height: 15vw;
}

.divA {
    display: flex;
    flex-direction: column;
    margin: 10vh;
    border: 3px dotted salmon;
    width: 50vw;
    transform: translateX(-8rem) translateY(-5rem);

}

.divA article {
    padding: 2vh;
}

.fidureA{
    display: flex
}

.figureA img {
    width: 19rem;
    height: 19rem;
    transform: translate(-7rem,14rem);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.divC {
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 3px dotted salmon;
    transform: translate(36rem, -28rem);
}

.divC p{
    font-size:xx-large;
}

.figureC img {
    width: 19rem;
    height: 19rem;
    transform: translate(92rem,-51rem);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.all{
    display: flex;
}

.divR{
    display: flex;
    padding: 2vh;
}

.divr, .divp, .divP, li{
    margin: 10px;
}

dt, h4{
    font-weight: bold;
    color: rgb(190, 110, 101);
    background-color: aqua;
    margin: 5px;
    font-size: xx-large;
}

.dd{
    text-indent: 1rem;
    font-size: x-large;
}

ol, dl{
    list-style-position:inside;
    font-size: x-large;
}

span{
    font-weight: bold;
}

.ulr {
    list-style-type: lower-alpha;
}
.ul{
    list-style-type: circle;
}

.h2{
    font-style: italic;
}

.all1{
    display: flex;
    flex-direction: column;
}

table{
    font-size: x-large;
}
.pp{
    text-decoration: underline;
    font-style: italic;
}

.divtable{
    display: flex;
    flex-direction: column;
}

th{
    padding: 10px;
    align-items: center;
    color: rgb(190, 110, 101);
    background-color: aqua;
}

td{
    padding: 10px;
}

.divfoot1 p{
    padding: 10px;
    margin: 3px;
}

.conteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 50rem;
    transform: translate(70rem, -79rem);
}

.caja h5{
    font-size: x-large;
}

.foot{
    display: flex;
    flex-direction: column;
    transform: translate(4px, -72rem);
    margin: 1rem;
}

.footer{
display: flex;
flex-direction: column;
transform: translate(4px, -12rem);
margin: 1rem;
}

.divfoot3{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 3px;
    width: 100%;
}

form{
    background-color:antiquewhite;
    margin-bottom: 2rem;
}

fieldset{
    display: flex;
    flex-wrap: wrap;
    font-size: x-large;
    margin: 1rem;
    padding: 2rem;
    width: 80rem;
}

label, input{
    margin: 1rem;
    padding: 1rem;
}
.bd, select{
    font-size: x-large;
}
.date{
    width: 15rem;
}

.h2f{
    padding-left: 10rem;
}

legend, .uniform{
    font-size: xx-large;
}

button{
    width: 100%;
    height: 2rem;
    color: beige;
    background-color: salmon;
}

button:hover {
    background-color: aqua;
    color: orange;
    transform: scale(1.2);
}