* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.divh {
    box-sizing: border-box;
}

header {
    background-image: url(./assets/design1_image1.jpg);
    background-size: cover;
    min-height: 20%;
    padding-top: 1rem;
    width: 100%;
}

header img {
    width: 15%;
    height: 4%;
    background-color: aliceblue;
    margin-left: 80vw;
    transform: translateY(6rem);
    border: 2px solid #000;
}


h1 {
    text-align: center;
    font-size: 5vh;
    color: black;
    background-color: aliceblue;
    width: 50%;
    border-radius: 15px;
    margin-left: 2rem;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

h2 {
    color: white;
    background-color: #000;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.main,
.mainR,
.maini {
    border: 3px dotted salmon;
    margin-top: 2px;
    margin-bottom: 2px;
}

.mainR {
    width: 80%;
    margin-top: 6vh;
    justify-content: end;
    padding: 1.5rem;
}


.mainA {
    width: auto;
}

.maini {
    flex-direction: column;
    margin-top: 5vh;
    justify-content: space-around;
}



p {
    padding-top: 1rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2vw;
}

.a {
    border: 2px solid cornsilk;
    background-color: salmon;
    height: 9vh;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    padding-top: 25px;
    margin: 5px;
}

nav a:hover {
    background-color: aqua;
    color: orange;
    transform: scale(1.2);
}

article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.art {
    font-size: x-large;
}

.divi {
    display: flex;

}

.div1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transform: translate(10px, 61px);
    justify-content: space-between;
    width: 70vw;
    margin: 2vh;
    border: 3px dotted salmon;
    padding: 2px 7px 5px 2px;
    background-image: url(./assets/hockey-1.jpg);
    background-size: cover;
}

h3 {
    color: rgb(190, 110, 101);
    background-color: aqua;
    margin: 5px;
    text-align: center;
    width: fit-content;
}

.h2 {
    color: rgb(190, 110, 101);
    background-color: aqua;
}

.h2 p {
    background-color: white;
}

.p {
    display: flex;
    width: fit-content;
    justify-content: center;
    background-color: antiquewhite;
    margin: 1rem;
}

.navA {
    min-height: 10vh;
    min-height: 15vw;
}

.container2 {
    display: flex;
}

.divA {
    display: flex;
    flex-direction: column;
    margin: 10vh;
    border: 3px dotted salmon;
    width: 50vw;
    transform: translateX(0rem) translateY(-4rem);
}

.divA article {
    padding: 2vh;
}

.fidureA {
    display: flex
}

.figureA img {
    width: 19rem;
    height: 19rem;
    margin-top: 8vh;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.divC {
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 3px dotted salmon;
}

.container3 {
    display: flex;
    flex-wrap: wrap;
}

.divC p {
    font-size: xx-large;
}

.figureC img {
    width: 19rem;
    height: 19rem;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.all {
    display: flex;
}

.divR {
    display: flex;
}

.divr,
.divp,
.divP,
li {
    margin: 10px;
}

.table {
    width: 100%;
}

dt,
h4,
.spanh4 {
    font-weight: bold;
    color: rgb(190, 110, 101);
    background-color: aqua;
    margin: 5px;
    font-size: xx-large;
}

.dd {
    text-indent: 1rem;
    font-size: x-large;
}

ol,
dl {
    list-style-position: inside;
    font-size: x-large;
}

span {
    font-weight: bold;
}

.ulr {
    list-style-type: lower-alpha;
}

.ul {
    list-style-type: circle;
}

.h2 {
    font-style: italic;
}

.all1 {
    display: flex;
    flex-wrap: wrap;
}


.pp {
    text-decoration: underline;
    font-style: italic;
}

.divtable {
    display: flex;
    flex-direction: column;
}

th {
    padding: 5px;
    align-items: center;
    color: rgb(190, 110, 101);
    background-color: aqua;
}

td {
    padding: 5px;
}

.divfoot1 p {
    padding: 10px;
    margin: 3px;
}

.container4 {
    display: flex;
    flex-direction: row;
}

.conteiner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-left: 9vw;
    margin-top: 5vh;
    width: 38vw;
}

.caja h5 {
    font-size: x-large;
    text-align: center;
}

.foot {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: space-evenly;
    margin: 1rem;
}

.divfoot3 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 3px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;

}

fieldset {
    display: flex;
    flex-wrap: wrap;
    font-size: x-large;
    margin: 1rem;
    padding: 2rem;
}

label,
input {
    margin: 1rem;
    padding: 1rem;
}

.bd,
select {
    font-size: large;
}

.date {
    width: 15rem;
}

.h2f {
    padding-left: 10rem;
}

legend,
.uniform {
    font-size: xx-large;
}

button {
    height: 2rem;
    color: beige;
    background-color: salmon;
    margin: 2rem;
    margin-top: 1rem;
}

button:hover {
    background-color: aqua;
    color: orange;
}

/*responsive de information.html*/
@media (max-width:1374px) {
    .divi {
        text-align: center;
        display: block;
    }
}

@media (max-width:920px) {
    .a {
        font-size: larger;
    }
}